<div class="Hello" ng-controller="HelloController as hello">
    <h1 class="Hello-greeting">
        {{ hello.greeting | ucfirst }}
    </h1>
    <div class="links">
        <a class="link" target="_blank" href="https://github.com/dangeezz/angularjs-webpack">
            Angular-webpack
        </a>
        <a class="link" target="_blank" href="https://github.com/dangeezz">
            Github
        </a>
        <a class="link" target="_blank" href="https://twitter.com/DanG33z">
            Twitter
        </a>
        <a class="link" target="_blank" href="https://twitter.com/DanG33z">
            LinkedIn
        </a>
    </div>
</div>
